
    <div class="form-group">
        <label for="{{id}}-box-id">Box</label>
        <input type="hidden" class="form-control" id="{{id}}-box-id"   value="{{data.boxId}}"/>
        <span class="help-block" id="{{id}}-box-id-message"></span>
    </div>
    
    <div class="form-group">
        <label for="{{id}}-script">Script to run</label>
        <div id="{{id}}-script" class="script">{{data.script}}</div>
    </div>
