<div class="form-group">
    <label for="{{id}}-type">Name</label>
    <input type="text" class="form-control {{id}}-field" id="{{id}}-name" value="{{data.name}}" />
    <span class="help-block" id="{{id}}-name-message"></span>
</div>

<div class="form-group">
    <label for="{{id}}-type">Width</label>
    <input type="text" class="form-control {{id}}-field" id="{{id}}-width" value="{{data.width}}" />
    <span class="help-block" id="{{id}}-url-message"></span>
</div>

<div class="form-group">
    <label for="{{id}}-type">Height</label>
    <input type="text" class="form-control {{id}}-field" id="{{id}}-height" value="{{data.height}}" />
    <span class="help-block" id="{{id}}-url-message"></span>
</div>