<div class="form-group">
    <label class="col-sm-2 control-label" for="{{id}}-old-box-ids">Old Version URL</label>
    <div class="col-sm-10">
        <input type="hidden" class="form-control" id="{{id}}-old-box-ids" name="oldUrl" value="{{data.oldBoxIds}}"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="{{id}}-new-box-ids">New Version URL</label>
    <div class="col-sm-10">
        <input type="hidden" class="form-control" id="{{id}}-new-box-ids"   value="{{data.newBoxIds}}"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="{{id}}-script-ids">Script to run</label>
    <div class="col-sm-10">
        <input type="hidden" class="form-control" id="{{id}}-script-ids"  value="{{data.scriptIds}}"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="{{id}}-device-ids" >Device</label>
    <div class="col-sm-10">
        <input type="hidden" class="form-control" id="{{id}}-device-ids"   value="{{data.deviceIds}}"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="{{id}}-statuses" >Status</label>
    <div class="col-sm-10">
        <input type="hidden" class="form-control" id="{{id}}-statuses" value="{{data.statuses}}"/>
    </div>
</div>